{%load static%}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
    <title>YugaasTech</title>
</head>
<body>
    <div class="sticky top-0 border-b shadow-sm bg-white z-30">
        <nav class="flex items-center justify-between mx-3">
            <!-- left -->
            <div class="flex items-center space-x-4 pt-3 pl-6 pr-[13px]">
                <img class=" h-20 cursor-pointer" src="https://github.com/Deepakraja03/yugaastech/blob/16e3749c547b31ea9ad97a3f812044b41c3e2d95/templates/images/Logo.jpg?raw=true" alt="logo">
                <p class=" hidden lg:inline font-bold text-3xl text-blue-800 ">yugaas<span class=" font-bold" style="color: #FFA500;">tech</span></p>
            </div>
            <!-- middle -->
            <ul class="flex  items-center space-x-10 font-bold cursor-pointer text-[18px] ">
                <li><a href="../Home">Home</a></li>
                <li><a href="../About"> About Us</a></li>
                <li><a href="../OurServices">Our Services</a></li>
                <li class="underline hover:scale-110 transition-shadow duration-150 ease-out " style="color: #FFA500;"><a href="../Career">Careers</a></li>
                <li><a href="../Contactus">Contact Us</a></li>
            </ul>
            <!-- right -->
            <div class=" pr-[57px] pl-5 cursor-pointer">
            <img class=" h-12 rounded-full flex-shrink-0  " src="https://github.com/Deepakraja03/yugaastech/blob/16e3749c547b31ea9ad97a3f812044b41c3e2d95/templates/images/avatar.png?raw=true" alt="profile">
            </div>
        </nav>
  </div>
    <div class=" bg-full " style="background-image: url('https://github.com/Deepakraja03/yugaastech/blob/16e3749c547b31ea9ad97a3f812044b41c3e2d95/templates/images/blueorange1.jpg?raw=true');">
        <div class="top-0 border-b shadow-sm z-[300]  h-max  border-white  pt-8 " data-aos="fade-up">
            <p class=" font-bold text-shadow-xs text-2xl text-neutral-900 px-4 pt-2"> "Empower Your Talent. Ignite Success Together. Choose <span class="text-blue-700">Yugaas</span><span class="text-orange-300">Tech's</span> Hiring Method and Talent Recognition" </p>

            <p class=" md: pt-11 w-[768px] text-5xl  text-shadow-xs flex justify-center  font-bold  lg:text-[48px] lg:w-full  ">Our Hiring Methods and Talent Recognition:</p>
            <p class="md: pt-10 w-[768px] text-4xl flex justify-center font-semibold lg:text-[48px] lg:w-full " style="color: #FFA500;">Unlocking the Power of Human Potential</p>
            <p class=" md: m-10 w-auto flex-shrink-0 text-2xl font-normal lg:w-auto  ">At Yugaas Tech, we believe that our most valuable asset is our people. As a result, our Method of Hiring and Talent Recognition is meticulously designed to attract, retain, and nurture top talent who are not just skilled professionals but also aligned with our organization's values and vision. We recognize that building a high-performing team is essential to achieving our mission of empowering excellence across industries. Our hiring process and talent recognition initiatives embody our commitment to putting employees first and fostering a culture of growth, collaboration, and recognition.</p>
        </div>
    </div>

    <div class="flex top-0 border-b shadow-sm bg-white z-25">
        <div class=" flex flex-col">
        <p class="text-blue-800 w-96 h-40 text-4xl pl-10 pt-20 font-bold text-shadow-xs lg:w-full lg:text-[40px]  ">Structured Interviews with our CXO Panel for Senior and Critical Roles: </p>
        <p class="w-full h-48 pt-20 pr-36 text-2xl  pl-10 lg:w-full">For pivotal roles within our organization, we employ a rigorous and insightful hiring process. Our CXO Panel, comprised of our esteemed executive leaders, conducts structured interviews with potential candidates. This approach ensures that only the most qualified and culturally compatible individuals join our ranks. We believe that this personalized touch in the hiring process allows us to identify candidates who possess not only the requisite skills but also the passion and dedication to drive our organization's success.</p>
        </div>
        <img class=" hidden lg:inline w-[235.294px] h-500px flex-shrink-0" src="https://github.com/Deepakraja03/yugaastech/blob/16e3749c547b31ea9ad97a3f812044b41c3e2d95/templates/images/man1.png?raw=true" alt="Man">
    </div>
    
    <div class="flex pl-[80px]  top-0 border-b shadow-sm bg-white z-30">
        <img class="w-[235.294px] ml-4 h-auto flex-shrink-0 transform scale-x-[-1] " src="https://github.com/Deepakraja03/yugaastech/blob/16e3749c547b31ea9ad97a3f812044b41c3e2d95/templates/images/woman1.png?raw=true" alt="Man">
        <div class=" flex flex-col">
            <p class="h-40 text-4xl pl-10 pt-16 font-bold text-shadow-xs" style="color: #FFA500;">Transformation of a New Hire to a Committed Employee: </p>
            <p class="w-full h-48 pt-20 pr-36 text-2xl  pl-10"> We recognize that a successful onboarding process is vital to ensure new hires become fully engaged and committed employees. Our commitment to transforming new hires into committed team members is reflected in our comprehensive onboarding program. This program provides new employees with a smooth integration into the organization's culture, values, and workflows. By offering ongoing support and mentoring, we facilitate the seamless transition from a new hire to a valuable and dedicated member of our Yugaas Tech family.</p>
        </div>    
    </div>

    <div class="flex top-0 border-b shadow-sm bg-white z-30">
        <div class=" flex flex-col">
        <p class="text-blue-800 h-40 text-4xl pl-10 pt-16 font-bold text-shadow-xs lg:w-[900px] lg:text-[40px]  ">Employee First, Others Next... – Our Employee Wellness Program, Defines Our Culture: </p>
        <p class="w-full h-48 pt-20 pr-36 text-2xl  pl-10 lg:w-full">Our organizational culture is built on the principle of "Employee First, Others Next." We place the well-being and happiness of our employees at the core of our operations. Our Employee Wellness Program focuses on promoting work-life balance, physical and mental health, and personal development. By investing in our employees' well-being, we create an environment where they can thrive both personally and professionally. This commitment to employee welfare defines our culture and fosters a sense of belonging and loyalty among our team members.</p>
        </div>
        <img class=" hidden lg:inline w-[235.294px] h-500px flex-shrink-0" src="https://github.com/Deepakraja03/yugaastech/blob/16e3749c547b31ea9ad97a3f812044b41c3e2d95/templates/images/man1.png?raw=true" alt="Man">
    </div>
    
    <div class="flex pl-[80px]  top-0 border-b shadow-sm bg-white z-30">
        <img class="w-[235.294px] ml-4 h-500px flex-shrink-0 transform scale-x-[-1] " src="https://github.com/Deepakraja03/yugaastech/blob/16e3749c547b31ea9ad97a3f812044b41c3e2d95/templates/images/woman1.png?raw=true" alt="Man">
        <div class=" flex flex-col">
            <p class="h-40 text-4xl pl-10 pt-16 font-bold text-shadow-xs" style="color: #FFA500;">Transparent Salary Structure with Both Employees and Clients:  </p>
            <p class="w-full h-48 pt-20 pr-36 text-2xl  pl-10"> Transparency is a fundamental value at Yugaas Tech. We believe in open and honest communication, both with our employees and our clients. Our salary structure is transparent, providing employees with a clear understanding of their compensation and benefits. Likewise, when working with clients, we maintain transparency regarding pricing and project deliverables. This practice fosters trust and accountability, strengthening our relationships with both employees and clients.
            </p>
        </div>      
    </div>

    <div class="flex top-0 border-b shadow-sm bg-white z-30">
        <div class=" flex flex-col">
        <p class="text-blue-800 h-40 text-4xl pl-10 pt-16 font-bold text-shadow-xs lg:w-[900px] lg:text-[40px]  ">Rewards and Recognition – Lauding the Right Talent: </p>
        <p class="w-full h-48 pt-20 pr-36 text-2xl  pl-10 lg:w-full">We understand that recognizing and appreciating the contributions of our employees is crucial to their motivation and job satisfaction. Our Rewards and Recognition program is designed to celebrate outstanding performance, innovation, and dedication within our team. Whether it's through employee of the month awards, spot bonuses, or public acknowledgments, we ensure that the right talent receives the recognition they deserve. This approach not only boosts employee morale but also inspires a culture of excellence and healthy competition. </p>
        </div>
        <img class=" hidden lg:inline w-[235.294px] h-500px flex-shrink-0" src="https://github.com/Deepakraja03/yugaastech/blob/16e3749c547b31ea9ad97a3f812044b41c3e2d95/templates/images/man1.png?raw=true" alt="Man">
    </div>

    <!-- content -->
    <div class=" mx-24 my-20">
            <p>
                <div class=" text-blue-800 font text-5xl font-bold text-shadow-xs">Key Benefits:</div> <br>

                <div class=" text-4xl font-semibold pt-6">High-Performing Talent Acquisition:</div> <br>
                <div class=" text-2xl  font-normal" >Our structured interview process ensures that we attract top talent capable of driving our organization's growth and success.</div> <br>

                <div class=" text-4xl font-semibold pt-6">Engaged and Committed Workforce:</div> <br>
                <div class=" text-2xl  font-normal">By transforming new hires into committed employees through a supportive onboarding process, we cultivate an engaged and loyal workforce.</div> <br>

                <div class=" text-4xl font-semibold pt-6">Positive Organizational Culture:</div> <br>
                <div class=" text-2xl  font-normal"> Our Employee Wellness Program and <span class="text-blue-700">"Employee First, Others Next"</span> culture create a positive and nurturing work environment, leading to increased job satisfaction and employee retention. </div><br>

                <div class=" text-4xl font-semibold pt-6">Trust and Transparency:</div> <br> 
                <div class=" text-2xl  font-normal"> Our transparent salary structure and open communication practices foster trust among employees and clients, enhancing collaboration and mutual understanding.</div> <br>

                <div class=" text-4xl font-semibold pt-6">Motivated and Recognized Employees:</div> <br>
                <div class=" text-2xl  font-normal"> Rewards and Recognition initiatives motivate employees to perform at their best and foster a sense of pride and achievement within the team.</div> <br>  
            </p>
            <p class="text-4xl pt-7 font-semibold m-8 pb-8"> "At <span class="text-blue-700">Yugaas</span><span style="color: #FFA500;">Tech</span>, our Method of Hiring and Talent Recognition is a reflection of our commitment to creating a workplace where individuals can excel, grow, and contribute to our collective success. By prioritizing employee well-being, recognition, and transparent practices, we build a resilient and cohesive team that continuously pushes the boundaries of excellence."</p>
    </div>
    <!-- opportunities0 -->

    <div class="top-0 border-b shadow-sm bg-white z-30 ">
        <p class="flex justify-center text-5xl text-shadow-xs font-bold pt-8 ">Opportunities</p>
        <p class=" flex justify-center font-semibold text-4xl pt-6 text-blue-700 ">Join Our Team and Unleash Your Potential! </p>
        <p class=" font-semibold text-3xl m-14">Are you driven by passion, eager to embrace technology, and committed to excellence?<br>
        <span class=" font-normal text-2xl"> At <span class=" text-blue-700 font-medium">Yugaas</span><span class=" font-medium" style="color: #FFA500;">Tech</span>, we believe that the right aptitude and attitude are the cornerstones of success. We are actively seeking talented individuals who possess the passion and potential to make a real difference in the digital landscape.</span>
        </p>
        <p class=" ml-[200px] mr-[200px] text-[30px] font-semibold  ">If you are looking for a place where your skills are valued, your growth is supported, and your ideas are celebrated, we invite you to join our team. Whether you are a seasoned professional seeking new challenges or a fresh graduate ready to take the first step in your career journey, we welcome you to apply.</p>
    </div>

    <div class="  top-0 border-b shadow-sm border-white z-30  bg-orange-svg ">
        <!-- <div class=" relative  flex justify-center pt-12 custom-background custom-border-radius custom-blur h-[600px] w-[1500px] flex-shrink-0  ">  -->
            <p class="  flex justify-center pt-10 text-6xl font-bold text-shadow-xs ">Why Choose  <span class=" text-blue-700 pl-4"> Yugaas</span><span style="color: #FFA500;">Tech</span>?</p>
            <p class=" ml-24 mr-24 mt-10">
                <span class=" text-3xl font-bold" style="color: #FFA500;">A Passionate Team:</span>
                <span class=" text-2xl font-medium pl-4"> Join a team of dedicated and driven professionals who share a common passion for technology and innovation.</span> <br>
                <span class=" text-3xl font-bold" style="color: #FFA500;">Opportunities for Growth:</span> 
                <span class=" text-2xl font-medium pl-4">We believe in investing in our employees' growth and provide opportunities for learning and skill development.</span> <br>
                <span class=" text-3xl font-bold" style="color: #FFA500;">Collaborative Environment:</span>
                <span class=" text-2xl font-medium pl-4">Experience a collaborative and supportive work environment that encourages creativity and teamwork.</span> <br>
                <span class=" text-3xl font-bold" style="color: #FFA500;">Impactful Work: </span>
                <span class=" text-2xl font-medium pl-4">Be part of projects that make a difference and contribute to solving real-world challenges.</span> <br>
                <span class=" text-3xl font-bold" style="color: #FFA500;">Employee-Centric Culture:</span> 
                <span class=" text-2xl font-medium pl-4">Our employee-first approach ensures your well-being and professional fulfilment </span> <br>
            </p>
        <!-- </div> -->
    </div>
    <div class=" mx-28 pt-10 pb-10 space-y-10 top-0 border-b shadow-sm bg-white z-30">
        <p class="font-normal text-2xl justify-between">
            If you are ready to embark on an exciting journey with a company that values your unique talents and aspirations, we encourage you to apply. Join us at <span class="text-blue-700 font-semibold">Yugaas</span><span class="text-orange-300 font-semibold">Tech</span> and let's shape the future together!
            To apply, send your resume and a brief introduction to [Email Address]. We look forward to meeting exceptional individuals like you and exploring the endless possibilities of innovation and growth.
            Let's create something remarkable together. Apply now and unleash your potential at <span class="text-blue-700 font-semibold">Yugaas</span><span class="text-orange-300 font-semibold">Tech</span>!
        </p>
    </div>
    
    {%include 'footer.html'%}
    
</body>
</html>