<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <link rel = "icon" href = "../templates/images/Logo.png" type = "image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
    <title>yugaastech</title>
</head>
<body>
    <!-- landing -->
    <div class=" bg-full pb-10 top-0 border-b shadow-sm  z-25" style="background-image: url('../templates/images/blueorange1.jpg');" >
        <!-- navbar -->
        <div class="sticky top-0 border-b shadow-sm bg-white z-30">
            <nav class="flex items-center gap-44 ">
                <!-- left -->
                <div class="flex items-center space-x-4 pt-3 pl-6 pr-[13px]">
                    <img class=" h-20 cursor-pointer" src="../templates/images/Logo.jpg" alt="logo">
                    <p class=" hidden lg:inline font-bold text-3xl text-blue-800 ">yugaas<span class=" font-bold" style="color: #FFA500;">tech</span></p>
                </div>
                <!-- middle -->
                <ul class="flex  items-center space-x-10 font-bold cursor-pointer text-[18px] ">
                    <li><a href="../Home">Home</a></li>
                    <li><a href="../About"> About Us</a></li>
                    <li><a href="../OurServices">Our Services</a></li>
                    <li><a href="../Career">Careers</a></li>
                    <li class="underline hover:scale-110 transition-shadow duration-150 ease-out " style="color: #FFA500;"><a href="../Contactus">Contact Us</a></li>
                </ul>
                <!-- right -->
                <div class=" pr-[57px] pl-5 cursor-pointer">
                <img class=" h-12 rounded-full flex-shrink-0  " src="../templates/images/avatar.png" alt="profile">
                </div>
            </nav>
      </div>
        <!-- landing content -->
        <div class=" pt-4">
            <p class=" text-blue-800 text-shadow-xs flex justify-center text-7xl font-bold tracking-wide "> Contact Us</p>
            <p class=" text-4xl font-medium pl-20 pr-20 pt-10"> Thank you for your interest in yugaastech! We value your inquiries, feedback, and collaboration opportunities. Feel free to get in touch with us using the following contact information, and we'll be delighted to assist you.</p>
            <div class=" pt-10 flex justify-center ">
                <div class=" pl-10">
                    <p class="text-blue-800 text-shadow-xs font-bold tracking-wide text-5xl ">Contact Details:</p>
                    <p class=" pt-6 text-4xl font-semibold "> Address: <span class=" font-medium"> [ address ]</span></p>
                    <p class=" pt-6 text-4xl font-semibold "> Phone: <span class=" font-medium"> [ phone]</span></p>
                    <p class=" pt-6 text-4xl font-semibold "> E-mail: <span class=" font-medium"> [ hr@yugaastech.in ]</span></p>
                </div>
            </div>
            <div class=" flex justify-center pt-8 text-5xl">
                <p class=" font-bold"> You can also visit our social media for more information</p>
            </div>
            <div class=" pt-8 flex justify-center space-x-10">
                <img class=" cursor-pointer hover:scale-110 transition-shadow duration-150 ease-out" src="../templates/images/twitter.png" alt="">
                <img class=" cursor-pointer hover:scale-110 transition-shadow duration-150 ease-out" src="../templates/images/fb.png" alt="">
                <img class=" cursor-pointer hover:scale-110 transition-shadow duration-150 ease-out" src="../templates/images/linkedin.png" alt="">
                <img class=" cursor-pointer hover:scale-110 transition-shadow duration-150 ease-out" src="../templates/images/instagram.png" alt="">
            </div>
        </div>
    </div>

    <div class="">
        
    </div>
    {% include 'footer.html' %}
</body>
</html>