<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <link rel = "icon" href = "../templates/images/Logo.png" type = "image/x-icon">
    <title>yugaastech</title>
</head>
<body>
    <!-- landing -->
    <div class=" bg-full pb-10 top-0 border-b shadow-sm  z-25">
        <!-- navbar -->
        <div class=" top-0 border-b shadow-sm  z-25">
            <nav class="flex items-center gap-32">
                <!-- left -->
                <div class="flex items-center space-x-4 pt-3 pl-6 pr-[13px]">
                    <img class="w-[80px] h-[80px] cursor-pointer hover:scale-110 transition-shadow duration-150 ease-out" src="./images/Logo.png" alt="logo">
                    <p class=" hidden md:inline font-bold mb-4 text-[32px] text-shadow-xs text-blue-800  items-center ">yugaas<span class=" font-bold text-orange-400">tech</span></p>
                </div>
                <!-- middle -->
                <ul class="flex flex-1  items-center space-x-6 font-bold cursor-pointer text-xl   ">
                    <li class=" text-orange-400 underline hover:scale-110 transition-shadow duration-150 ease-out ">Home</li>
                    <li class=" text-blue-800 hover:scale-110 transition-shadow duration-150 ease-out">About Us</li>
                    <li class=" text-blue-800 hover:scale-110 transition-shadow duration-150 ease-out">Our Services</li>
                    <li class=" text-blue-800 hidden hover:scale-110 transition-shadow duration-150 ease-out md:inline ">Our Products</li>
                    <li class=" text-blue-800 hidden hover:scale-110 transition-shadow duration-150 ease-out md:inline">Community</li>
                    <li class=" text-blue-800 hover:scale-110 transition-shadow duration-150 ease-out">Careers</li>
                    <li class=" text-blue-800 hover:scale-110 transition-shadow duration-150 ease-out">Contact Us</li>
                </ul>
                <!-- right -->
                <div class=" pr-[57px] cursor-pointer ">
                <img class="h-12 rounded-full flex-shrink-0 hover:scale-125 transition-transform duration-300 ease-out " src="./images/avatar.png" alt="profile"/>
                </div>
            </nav>
        </div>
        <!-- landing content -->
        <div class=" pt-4">
            <p class=" text-blue-800 text-shadow-xs flex justify-center text-7xl font-bold tracking-wide "> Contact Us</p>
            <p class=" text-4xl font-medium pl-20 pr-20 pt-10"> Thank you for your interest in yugaastech! We value your inquiries, feedback, and collaboration opportunities. Feel free to get in touch with us using the following contact information, and we'll be delighted to assist you.</p>
            <div class=" pt-10 flex justify-center ">
                <div class=" pl-10">
                    <p class="text-blue-800 text-shadow-xs font-bold tracking-wide text-5xl ">Contact Details:</p>
                    <p class=" pt-6 text-4xl font-semibold "> Address: <span class=" font-medium"> [ address ]</span></p>
                    <p class=" pt-6 text-4xl font-semibold "> Phone: <span class=" font-medium"> [ phone]</span></p>
                    <p class=" pt-6 text-4xl font-semibold "> E-mail: <span class=" font-medium"> [ hr@yugaastech.in ]</span></p>
                </div>
            </div>
            <div class=" flex justify-center pt-8 text-5xl">
                <p class=" font-bold"> You can also visit our social media for more information</p>
            </div>
            <div class=" pt-8 flex justify-center space-x-10">
                <img class=" cursor-pointer hover:scale-110 transition-shadow duration-150 ease-out" src="./images/twitter.png" alt="">
                <img class=" cursor-pointer hover:scale-110 transition-shadow duration-150 ease-out" src="./images/fb.png" alt="">
                <img class=" cursor-pointer hover:scale-110 transition-shadow duration-150 ease-out" src="./images/linkedin.png" alt="">
                <img class=" cursor-pointer hover:scale-110 transition-shadow duration-150 ease-out" src="./images/instagram.png" alt="">
            </div>
        </div>
    </div>

    <div class="">
        
    </div>

</body>
</html>