<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
    <title>Cyber Security Services</title>
</head>
<body>
   <!-- navbar start -->
        <div class="sticky top-0 border-b shadow-sm bg-white z-30">
            <nav class="flex items-center justify-between mx-4">
                <!-- left -->
                <div class="flex items-center space-x-4 pt-3">
                    <img class="h-20 cursor-pointer" src="https://raw.githubusercontent.com/Deepakraja03/yugaastech/16e3749c547b31ea9ad97a3f812044b41c3e2d95/templates/images/Logo.jpg?raw=true" alt="logo">
                </div>
                <ul class="hidden lg:inline lg:flex text-lg font-bold px-10">
                    <div class="md:flex">
                        <li class="py-1"><a href="../Home">Home</a></li>
                        <li class="px-3 py-1"><a href="../About"> About Us</a></li>
                        <li class="underline hover:scale-110 transition-shadow duration-150 ease-out py-1" style="color: #FFA500;"><a href="../OurServices">Our Services</a></li>
                        <li class="px-3 py-1"><a href="../Career">Careers</a></li>
                        <li class="px-3 py-1"><a href="../Contactus">Contact Us</a></li>
                    </div>
                </ul>
                <!-- mobile burger icon -->
                <div class="lg:hidden cursor-pointer" id="mobile-menu-button">
                    <svg class="h-6 w-6 burger" fill="none" stroke="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </div>
            </nav>
        </div>

        <!-- Background overlay for mobile menu (100px from the top) -->
        <div id="bg-overlay" class="fixed top-0 left-0 right-0 bg-white opacity-0 transition-opacity duration-300 h-[100hv] lg:bg-transparent lg:pt-0"></div>

        <!-- Mobile menu links with black text (initially displayed on lg:screen) -->
        <ul id="menu-list-mobile" class="pt-32 flex flex-col text-lg font-bold px-10 absolute top-0 left-0 right-0 h-screen bg-white transform -translate-y-[500hv] transition-transform duration-300 hidden">
            <li class="py-1"><a href="../Home">Home</a></li>
            <li class="py-1"><a href="../About"> About Us</a></li>
            <li class="underline hover:scale-110 transition-shadow duration-150 ease-out py-1" style="color: #FFA500;"><a href="../OurServices">Our Services</a></li>
            <li class="py-1"><a href="../Career">Careers</a></li>
            <li class="py-1"><a href="../Contactus">Contact Us</a></li>
        </ul>

        <script>
            const mobileMenuButton = document.getElementById("mobile-menu-button");
            const menuListMobile = document.getElementById("menu-list-mobile");
            const bgOverlay = document.getElementById("bg-overlay");
            const burgerIcon = document.querySelector(".burger");
            let isOpen = false;

            mobileMenuButton.addEventListener("click", () => {
                isOpen = !isOpen;
                if (isOpen) {
                    // Change the icon to a cross (X)
                    burgerIcon.innerHTML = `<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>`;
                    // Show the mobile menu and set the background color to white
                    menuListMobile.classList.remove("hidden");
                    menuListMobile.classList.add("translate-y-0");
                    bgOverlay.classList.remove("opacity-0");
                    // Scroll to the top of the page
                    window.scrollTo(0, 0);
                } else {
                    // Change the icon back to a burger
                    burgerIcon.innerHTML = `<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>`;
                    // Hide the mobile menu and reset the background color
                    menuListMobile.classList.add("hidden");
                    menuListMobile.classList.remove("translate-y-0");
                    bgOverlay.classList.add("opacity-0");
                }
            });
        </script>
    <!-- navbar close -->
    <div style="background-image: url('https://github.com/Deepakraja03/yugaastech/blob/16e3749c547b31ea9ad97a3f812044b41c3e2d95/templates/images/cyber.png?raw=true');">
        <div class="text-blue-700 text-7xl font-normal pt-44 px-56 pb-44">
            Cyber Security Services
        </div>
    </div>
    <div class="text-blue-700 text-4xl font-normal leading-relaxed mt-12 mx-20">
        Protect Your Digital Assets. Choose Yugaas Tech's Cyber Security Services.
    </div>
    <div class=" mt-24 ml-20">
        <div class="text-blue-700 text-5xl font-normal">| Overview</div>
        <div class="text-black text-2xl font-normal mt-14">
            In an increasingly interconnected and digital world, cybersecurity is a critical aspect of business resilience. At Yugaas Tech, we offer comprehensive Cyber Security Services that safeguard organizations against cyber threats, protect sensitive data, and ensure regulatory compliance. Our proactive and adaptive approach to cybersecurity empowers businesses to stay one step ahead of potential risks and vulnerabilities, enabling them to focus on their core objectives with confidence.
        </div>
        
    </div>
    <div class="mt-24 ml-20">
        <div class="text-blue-700 text-5xl font-normal">
            | Security Advisory and Roadmap
        </div>
        <div class="text-black text-2xl font-normal mt-14">
            Our Security Advisory and Roadmap service lays the foundation for a robust cybersecurity strategy. We conduct in-depth assessments of our clients' IT infrastructure and identify potential risks and vulnerabilities. Based on our findings, we create tailored cybersecurity roadmaps that outline the necessary security measures and actions to strengthen their defense against cyber threats.
        </div>
    </div> 
    <div class="mt-24 ml-20">
        <div class="text-blue-700 text-5xl font-normal">
            | Security Technology Implementation and Management
        </div>
        <div class="text-black text-2xl font-normal mt-14">
            With our Security Technology Implementation and Management service, we empower organizations to deploy cutting-edge security solutions that protect against a wide range of cyber threats. Our team of skilled professionals ensures seamless integration and optimization of security tools, and we provide ongoing management and support to maintain a robust security posture.
        </div>
    </div>  
    <div class="mt-24 ml-20">
        <div class="text-blue-700 text-5xl font-normal">
            | Security Testing (VAPT, Red Teaming, etc.)
        </div>
        <div class="text-black text-2xl font-normal mt-14">
            Our Security Testing service encompasses a range of assessments, including Vulnerability Assessment and Penetration Testing (VAPT) and Red Teaming. Through these assessments, we identify and exploit potential vulnerabilities in our clients' systems to gauge their resilience against real-world attacks. The insights gained from these tests allow businesses to strengthen their defenses and proactively address security weaknesses.
        </div>
    </div> 
    <div class="mt-24 ml-20">
        <div class="text-blue-700 text-5xl font-normal">
            | Governance, Risk, and Compliance
        </div>
        <div class="text-black text-2xl font-normal mt-14">
            Our Governance, Risk, and Compliance (GRC) service ensures that our clients adhere to industry standards and regulatory requirements. We work closely with organizations to implement robust governance frameworks, assess risk exposure, and ensure compliance with data protection and privacy laws. By doing so, we help businesses build trust with customers and partners while mitigating the potential financial and reputational impact of non-compliance.
        </div>
    </div>
    <div class="mt-24 ml-20">
        <div class="text-blue-700 text-5xl font-normal">
            | End to End Managed Security Services
        </div>
        <div class="text-black text-2xl font-normal mt-14">
            Our End to End Managed Security Services offer comprehensive cybersecurity support, serving as a vigilant shield against evolving threats. Our team of security experts provides 24/7 monitoring, threat detection, incident response, and proactive threat hunting. By entrusting their security to us, organizations can focus on their core operations, knowing that their critical assets are in safe hands.
        </div>
    </div>
    <div class="mt-24 ml-20">
        <div class="text-blue-700 text-5xl font-normal">
            | Security Audit and Assurance
        </div>
        <div class="text-black text-2xl font-normal mt-14">
            Our Security Audit and Assurance service delivers independent assessments of our clients' security measures and practices. We conduct detailed audits to evaluate the effectiveness of their security controls and policies. Our audit reports provide valuable insights, enabling businesses to make data-driven decisions to improve their security posture and enhance overall risk management.
        </div>
    </div>
    <div class="mt-24 ml-32">
        <div class="text-blue-700 text-5xl font-normal">
            | Key Benefits
        </div>
        <div class="text-blue-700 text-4xl font-normal mt-12">
            1. Proactive Cyber Threat Protection
        </div>
        <div class="text-black text-2xl font-normal mt-12">
            Our Cyber Security Services offer proactive measures to protect organizations from a wide range of cyber threats, safeguarding their assets and sensitive data.
        </div>
        <div class="text-blue-700 text-4xl font-normal mt-12">
            2. Tailored Security Roadmaps
        </div>
        <div class="text-black text-2xl font-normal mt-12">
            With Security Advisory and Roadmap, businesses gain personalized cybersecurity roadmaps that prioritize their unique security needs and challenges.
        </div>
        <div class="text-blue-700 text-4xl font-normal mt-12">
            3. Optimized Security Technology
        </div>
        <div class="text-black text-2xl font-normal mt-12">
            Security Technology Implementation and Management ensure seamless integration and efficient management of security tools, enhancing overall security efficacy.
        </div>
        <div class="text-blue-700 text-4xl font-normal mt-12">
            4. Identification and Mitigation of Vulnerabilities
        </div>
        <div class="text-black text-2xl font-normal mt-12">
            Security Testing services identify and address vulnerabilities, enabling organizations to bolster their defence mechanisms and prevent potential attacks.
        </div>
        <div class="text-blue-700 text-4xl font-normal mt-12">
            5. Compliance and Trust
        </div>
        <div class="text-black text-2xl font-normal mt-12">
            Through Governance, Risk, and Compliance services, businesses demonstrate compliance with regulations, build trust with stakeholders, and protect their brand reputation.
        </div>
        <div class="text-blue-700 text-4xl font-normal mt-12">
            6. 24/7 Security Monitoring and Incident Response
        </div>
        <div class="text-black text-2xl font-normal mt-12">
            End to End Managed Security Services offer continuous monitoring and rapid incident response, minimizing the impact of potential security breaches.
        </div>
        <div class="text-blue-700 text-4xl font-normal mt-12">
            7. Data-Driven Decision-Making
        </div>
        <div class="text-black text-2xl font-normal mt-12">
            Security Audit and Assurance provide comprehensive insights that guide organizations in making informed decisions to strengthen their security posture.
        </div>
    </div>
    <div class="text-black text-3xl font-normal mt-32 mx-24">
        At Yugaas Tech, we are committed to providing top-notch Cyber Security Services that enable businesses to navigate the digital landscape securely and confidently. With our proactive approach and advanced security solutions, we stand as a trusted partner in safeguarding our clients' assets, data, and reputation from the ever-evolving cyber threats.
    </div>
    {% include 'footer.html' %}
</body>
</html>