@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
@import 'aos/dist/aos.css';


@layer utilities {
    .text-shadow-xs {
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .custom-border-radius {
      border-radius: 952.924px;
    }
  
    .custom-background {
      background: rgba(241, 203, 0, 0.50);
    }
  
    .custom-blur {
      filter: blur(200px);
    }

    .custom-background-blue {
      background: rgba(35, 83, 254, 0.30);
    }
  

    .bg-orange-svg {
      background-image: url("https://user-images.githubusercontent.com/111877553/264232559-9f625168-3f9e-4c96-a6c8-df784f927a6d.png");
      height: 750px;
    }

    .bg-blue-orange {
      background-image: url("https://user-images.githubusercontent.com/111877553/264235619-37a0dea6-9759-435f-b506-c28de01d898a.png");
      background-size: cover;
      height: max-content;
      width: auto;
      background: no-repeat;
    }
    
    .bg-full {
      background-image: url("https://user-images.githubusercontent.com/111877553/264238659-fc132fe7-3743-44a0-9140-bf5c18f6e490.png"); 
      /* height: max-content;
      width: auto; */
    }

    .home-bg {
      background-image: url("https://user-images.githubusercontent.com/111877553/264686172-79e7a3c0-9406-48cd-966d-4c99a1b6a97b.png");
      height: max-content; 
      background: cover;
    }

    .logo-bg {
      background-image: url("../templates/images/logobg3.png");
      height: max-content;
      width: auto;
      background: cover;
      background-repeat: no-repeat;
    }

    .hero {
      /* Set the background image URL here */
    
      /* background-image: url("./images/newhomebg_tj6046.png"); */
    
      /* Full height and width of the viewport */
      width: auto;
      height: max-content;
    
      /* Background image should cover the entire element */
      background-size: cover;
    
      /* Center the background image */
      background-position: initial;
    
      /* Optionally, you can set the background attachment to fixed for a fixed background */
      /* background-attachment: fixed; */
    }

    .hover-scale {
        transform: scale(1);
        transition-property: inherit;
        transition-duration: 300ms;
        transition-timing-function: ease-out;
      }
      
      .hover-scale-hover {
        transform: scale(1.25);
      }

      .gradient-text {
        background-clip: text;
        -webkit-background-clip: text; /* For Safari/WebKit browsers */
        color: transparent;
        background-image: linear-gradient(to right, #ff00cc, #3333ff); /* Replace with your desired gradient colors */
      }
      
}



